.form {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 200px;

  form {
    width: 60%;
    box-sizing: border-box;
    padding: 15px;
  }

  .fields {
    display: inline-flex;
    flex-direction: column;
    padding: 5px;

    label {
      margin-bottom: 5px;
    }

    input {
      height: 30px;
      border: 1px solid grey;
      background-color: #f0f0f0;
      border-style: hidden;
      border-radius: 8px;

      &[type='checkbox'] {
        width: 25px;
      }
    }
  }

  .fields:first-child {
    width: 100%;
  }

  .fields:nth-child(2) {
    width: 100%;
    margin: 10px 0 0 0;
    height: 140px;

    textarea {
      height: 108px;
      border-radius: 8px;
      background-color: #ebf2ff;
      border: 1px solid #afcbff;
    }
  }

  .fields:nth-child(3) {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    #label {
      grid-column: 1 / span 3;
    }

    .category {
      padding: 5px;
      margin: 5px 1px;
      width: auto;
      height: auto;

      .button {
        background-color: #f0f0f0;
        color: #0d0c22;
        height: 36px;
        border: 1px solid black;
        border-style: hidden;
        border-radius: 8px;
        padding: 0 5px;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;

        &:hover {
          background-color: #286cff;
          color: #f0f0f0;
        }
      }

      .buttonPressed {
        background-color: #286cff;
        color: #f0f0f0;
        height: 36px;
        border: 1px solid black;
        border-style: hidden;
        border-radius: 8px;
        padding: 0 5px;
        box-sizing: border-box;
        width: 100%;
        cursor: pointer;
      }
    }
  }

  .fields:nth-child(4) {
    width: 100%;
  }

  .fields:nth-child(5) {
    margin: 0 50% 0 0;
  }

  .fields:nth-child(7) {
    width: 100%;
  }

  .fields:nth-child(8) {
    width: 50%;
    padding: 0;

    button {
      height: 40px;
      font-size: 14px;
      color: #f0f0f0;
      border: 1px solid black;
      border-style: hidden;
      border-radius: 8px 0 0 8px;
      padding: 0 40px;
      background: #0d0c22;
      cursor: pointer;
    }
  }

  .fields:last-child {
    margin-top: 10px;
    width: 50%;
    padding: 0;

    button {
      height: 40px;
      font-size: 14px;
      color: #f0f0f0;
      border: 1px solid black;
      border-style: hidden;
      border-radius: 0 8px 8px 0;
      padding: 0 40px;
      background: #286cff;
      cursor: pointer;
    }
  }
}
