.container {
  display: flex;
  height: 100vh;
  font-family: "Roboto", sans-serif;

  .navbar {
    width: 18%;
    flex-flow: column wrap;
  }
  .dashboard {
    width: 82%;
    flex-flow: column nowrap;
    overflow-y: auto;
    border-left: 1px solid #e4e4e4;
  }
}
