$cta-color: #286cff;
$form-view: #f0f0f0;
$main-font: 'Roboto';
$calig-font: 'Pacifico';
$backup-font: sans-serif;
$cta-font-color: #f0f0f0;
$calig-color: #e29300;
$form-font-color: #0d0c22;
$border-color: #a7a7a7;
$link-color: #4f3cc9;

.signup {
  display: flex;
  width: 100vw;
  height: 100vh;
  font-family: $main-font, $backup-font;
  flex-direction: row;

  .cta-section {
    width: 38%;
    background-color: $cta-color;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: column;

    .cta-head {
      height: 70%;
      font-weight: bold;
      font-size: 38px;
      color: $cta-font-color;
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        margin: 0;
      }

      span {
        font-family: $calig-font, cursive;
        font-weight: lighter;
        color: $calig-color;
      }
    }

    .cta-des {
      height: 30%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      color: $cta-font-color;
    }
  }

  .form-view {
    width: 62%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .signin-link {
      display: inline-flex;
      height: 8%;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: 30px;
      font-size: 14px;

      span {
        color: $link-color;
      }
    }

    .form {
      height: 92%;
      display: inline-flex;
      flex-direction: inherit;

      .form-title {
        font-weight: 700;
        font-size: 24px;
        color: $form-font-color;
        margin-left: 25%;
        margin-top: 50px;
      }

      form {
        display: inherit;
        flex-direction: inherit;
        align-items: center;
        justify-content: center;
        padding-top: 40px;

        label {
          width: 50%;
          margin: 5px 0;
          font-weight: 700;
          font-size: 15px;

          &:nth-child(1) {
            width: 20%;
            align-self: flex-start;
            margin-left: 25%;
          }

          &:nth-child(3) {
            width: 20%;
            align-self: flex-end;
            margin: -85px 25% 0 0;
          }
        }

        input {
          width: 50%;
          height: 40px;
          border: 1px solid $border-color;
          border-style: hidden;
          background-color: #f3f3f4;
          border-radius: 8px;
          padding: 10px 16px;
          box-sizing: border-box;
          margin: 2px 0 18px 0;
          font-size: 16px;

          &:nth-child(2) {
            width: 20%;
            align-self: flex-start;
            margin-left: 25%;
          }

          &:nth-child(4) {
            width: 20%;
            align-self: flex-end;
            margin-right: 25%;
          }

          &:focus {
            outline: $cta-color;
            box-shadow: 0 0 6px $cta-color;
            border: 1px solid $border-color;
          }

          &:hover {
            box-shadow: 0 0 6px $cta-color;
          }
        }

        button {
          width: 20%;
          height: 36px;
          border: 1px solid $border-color;
          border-style: hidden;
          border-radius: 8px;
          box-shadow: 1px 1px 6px $border-color;
          background-color: $cta-color;
          color: $form-view;
          font-weight: 400;
          font-size: 14px;
          margin-top: 10px;
          align-self: flex-start;
          margin-left: 25%;

          &:hover {
            cursor: pointer;
            opacity: 0.9;
          }
        }
      }
    }
  }
}
